{% extends 'base.html.twig' %}

{% block title %}Mantenimiento de Usuarios{% endblock %}

{% block body %}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Tablero</a>
        </li>
        <li class="breadcrumb-item">
            {% if empresa is defined %}
                <a href="{{ path('lista_usuarios',{rucEmpresa: empresa.ruc}) }}">Usuarios</a>
            {% else %}
                <a href="#">Usuarios</a>
            {% endif %}
        </li>
        <li class="breadcrumb-item active">Usuario</li>
    </ol>
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">
            <h5>
                <p class="text-center">Registrar nuevo usuario</p>
            </h5>
        </div>
        <div class="card-body">
            {{ form_start(form) }}

            <div class="form-row">
                <div class="col-md-6">
                    {{ form_row(form.nombres) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.apellidos) }}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3">
                    {{ form_row(form.dni) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.telefono) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.email) }}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    {{ form_row(form.apodo) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.username) }}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    {{ form_row(form.plainPassword.first) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.plainPassword.second) }}
                </div>
            </div>
            {{ form_row(form.termsAccepted) }}
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save" aria-hidden="true"></i> Guardar
            </button>
            {% if form.saveAndCreateNew is defined %}
                {{ form_widget(form.saveAndCreateNew, {label: 'Guardar y crear otro', attr: {class: 'btn btn-primary'}}) }}
            {% endif %}
            <a href="{{ path('lista_usuarios',{rucEmpresa: empresa.ruc}) }}" class="btn btn-link">
                <i class="fa fa-list-alt" aria-hidden="true"></i> Volver al listado de usuarios
            </a>
            {{ form_end(form) }}

        </div>
    </div>
</div>
{% endblock %}
