{% extends 'base.html.twig' %}

{% block title %}Mantenimiento de Ubicaciones{% endblock %}

{% block body %}

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Tablero</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('mostrar_empresa',{ id: almacen.empresa.ruc }) }}">Empresa</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('lista_almacenes',{ id: almacen.empresa.ruc }) }}">Almacenes</a>
            </li>
            <li class="breadcrumb-item active">Ubicaciones</li>
        </ol>

        <h2>{{ block('title') }}</h2>

        <div class="text-center">
            <input type="button" id="new" class="btn btn-default" value="Create new almacen"/>
        </div>

        <div class="row">
            {%
                form_theme form
                'jquery.collection.html.twig'
                'ubicacion/ubicacion-theme.html.twig'
            %}
            {{ form(form) }}
        </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
    <script type="text/javascript">

        // only useful for the "new" button...
        $('#new').on('click', function() {
            var name = prompt("Which name would you like to use?");
            if (name) {
                var uri = '{{ path('ubicaciones_lista', {'idAlmacen': 'a'}) }}';
                document.location = uri.substr(0, uri.length - 1) + encodeURIComponent(name);
            }
        });

        $('.collection').collection({
            'drag_drop_options': {
                'placeholder': null
            }
        });

    </script>
{% endblock %}