{% extends 'base.html.twig' %}

{% block title %}Mantenimiento de Empresa{% endblock %}

{% block body %}

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/user/{id}">Tablero</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('lista_empresas') }}">Empresas</a>
            </li>
            <li class="breadcrumb-item active">Empresa</li>
        </ol>
        <div class="row">
            <div class="col-md-6">
                <div class="card-header badge-primary">
                    <h5>
                        <p class="text-center">{{ empresa.razonSocial }}
                            <span class="small float-right">RUC: {{ empresa.Ruc }}</span>
                        </p>
                    </h5>
                </div>
                <div class="card-body row">
                    <div class="col-md-auto">
                        <strong>Dirección:</strong> {{ empresa.direccion }}
                    </div>
                    <div class="w-100 d-none d-md-block"></div>
                    <div class="col-md-12 row">
                        <div class="col-md-6">
                            <strong>Telefono 1:</strong> {{ empresa.telefono1 }}
                            <br>
                            <strong>Rubro:</strong> {{ empresa.rubro }}
                        </div>
                        <div class="col-md-6">
                            <strong>Telefono 2:</strong> {{ empresa.telefono2 }}
                            <br>
                            <strong>Tipo de empresa:</strong>
                            {% if empresa.tipo == 1 %}
                                Cliente
                                {% elseif empresa.tipo == 2 %}
                                Proveedor
                                {% else %}
                                Cliente y proveedor
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-footer">

                </div>
            </div>
            <div class="col-md-6">
                <h5><strong>Informe:</strong></h5>
                <div class="row">
                    <div class="col-xl-6 col-sm-12 mb-3">
                        <div class="card text-white bg-primary o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fa fa-fw fa-comments"></i>
                                </div>
                                <div class="mr-5">
                                    {{ empresa.usuarios|length }} Usuarios!</div>
                            </div>
                            <a class="card-footer text-white clearfix small z-1" href="{{ path('lista_usuarios', {id: empresa.ruc}) }}">
                                <span class="float-left">Ver usuarios</span>
                                <span class="float-right">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-sm-12 mb-3">
                        <div class="card text-white bg-warning o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fa fa-fw fa-list"></i>
                                </div>
                                <div class="mr-5">
                                    {{ empresa.almacenes|length }} Almacenes!</div>
                            </div>
                            <a class="card-footer text-white clearfix small z-1" href="{{ path('lista_almacenes', {id: empresa.ruc}) }}">
                                <span class="float-left">Ver Almacenes</span>
                                <span class="float-right">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}